npm-debug.log
yarn-error.log

apps/site/public/storage
apps/site/public/hot
apps/site/vendor
apps/site/storage/*.key
apps/site/bootstrap/cache/

.output
.nuxt
.env
.log

docker/mysql/data
docker/mysql/logs

.DS_Store
